<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="icon" type="image/svg+xml" href="/static/icon/fav.svg">

    <title>{{ title }}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header id="main-header" class="fixed-top" style="background-color: white;">
        {% include 'components/header.html' %}
    </header>
    <main class="container-fluid">
        {% block content %}{% endblock %}
    </main>

    <script>
        window.addEventListener("DOMContentLoaded", function () {
            const header = document.getElementById("main-header");
            const main = document.querySelector("main");

            if (header && main) {
            const headerHeight = header.offsetHeight;
            main.style.paddingTop = headerHeight + "px";
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>