<div class="">
    <ul class="nav nav-pills d-flex justify-content-center">
  
      <li class="nav-item">
        <a href="/site/banner" class="nav-link {% if current_mini_page == 'banner' %}active{% endif %}" aria-current="page">Баннер</a>
      </li>
      <li class="nav-item">
        <a href="/site/documents" class="nav-link {% if current_mini_page == 'documents' %}active{% endif %}" aria-current="page">Документы</a>
      </li>
      <li class="nav-item">
        <a href="/site/categories" class="nav-link {% if current_mini_page == 'categories' %}active{% endif %}" aria-current="page">Категории</a>
      </li>
      <li class="nav-item">
        <a href="/site/discounts" class="nav-link {% if current_mini_page == 'discounts' %}active{% endif %}" aria-current="page">Скидки</a>
      </li>
  
    </ul>
  </div>